In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [6]:
df = pd.read_csv('C:/Users/user/Desktop/Hotel_Dataset.csv')

In [7]:
df.columns

Index(['Id', 'Date', 'RoomType', 'RoomPrice', 'NumberOfBookings',
       'NumberOfOccupents', 'DailyRevenue', 'RoomCategory', 'EventName',
       'EventType', 'Demography', 'EventShowtime', 'EventLocation',
       'HotelName', 'HotelLocation', 'Facilities'],
      dtype='object')

In [8]:
df.head()

,Id,Date,RoomType,RoomPrice,NumberOfBookings,NumberOfOccupents,DailyRevenue,RoomCategory,EventName,EventType,Demography,EventShowtime,EventLocation,HotelName,HotelLocation,Facilities
0,1,01/01/2022,Superior King Room,15500,33,1,511500,Single,0,0,0,0,0,Cinnamon Lakeside,Colombo,"City view, Pool with a view, Air conditioning,..."
1,2,01/01/2022,Superior Twin Room,13700,34,2,465800,Double,0,0,0,0,0,Cinnamon Lakeside,Colombo,"City view, Pool with a view, Air conditioning,..."
2,3,01/01/2022,Premium Double Room,21500,21,4,451500,Family,0,0,0,0,0,Cinnamon Lakeside,Colombo,"Lake view, Garden view, Pool view, Pool with a..."
3,4,01/01/2022,Executive Room,31200,16,5,499200,Business,0,0,0,0,0,Cinnamon Lakeside,Colombo,"Lake view, Garden view, Pool view, Pool with a..."
4,5,01/01/2022,Cilantro Suite,46400,8,6,371200,Luxury,0,0,0,0,0,Cinnamon Lakeside,Colombo,"Balcony, Lake view, Garden view, Pool view, Po..."

In [9]:
df = pd.get_dummies(df, columns=["Date", "RoomType", "NumberOfBookings", "NumberOfOccupents", "DailyRevenue", "RoomCategory", "EventName", "EventType", "Demography", "EventShowtime", "EventLocation", "HotelName", "HotelLocation", "Facilities"])

In [22]:
print(df)

        Id  RoomPrice  Date_01/01/2022  Date_01/02/2022  Date_01/03/2022  \
0        1      15500                1                0                0
1        2      13700                1                0                0
2        3      21500                1                0                0
3        4      31200                1                0                0
4        5      46400                1                0                0
...    ...        ...              ...              ...              ...
1820  1821      35900                0                0                0
1821  1822      36700                0                0                0
1822  1823      39800                0                0                0
1823  1824      50700                0                0                0
1824  1825      66900                0                0                0

      Date_01/04/2022  Date_01/05/2022  Date_01/06/2022  Date_01/07/2022  \
0                   0                0                0                0
1                   0                0                0                0
2                   0                0                0                0
3                   0                0                0                0
4                   0                0                0                0
...               ...              ...              ...              ...
1820                0                0                0                0
1821                0                0                0                0
1822                0                0                0                0
1823                0                0                0                0
1824                0                0                0                0

      Date_01/08/2022  ...  EventShowtime_Night  EventLocation_0  \
0                   0  ...                    0                1
1                   0  ...                    0                1
2                   0  ...                    0                1
3                   0  ...                    0                1
4                   0  ...                    0                1
...               ...  ...                  ...              ...
1820                0  ...                    0                1
1821                0  ...                    0                1
1822                0  ...                    0                1
1823                0  ...                    0                1
1824                0  ...                    0                1

      EventLocation_Domestic   EventLocation_In Hotel  \
0                           0                       0
1                           0                       0
2                           0                       0
3                           0                       0
4                           0                       0
...                       ...                     ...
1820                        0                       0
1821                        0                       0
1822                        0                       0
1823                        0                       0
1824                        0                       0

      EventLocation_Port City  HotelName_Cinnamon Lakeside  \
0                           0                            1
1                           0                            1
2                           0                            1
3                           0                            1
4                           0                            1
...                       ...                          ...
1820                        0                            1
1821                        0                            1
1822                        0                            1
1823                        0                            1
1824                        0                            1

      HotelLocation_Colombo  \
0                         1
1                         1
2                         1
3                         1
4                         1
...                     ...
1820                      1
1821                      1
1822                      1
1823                      1
1824                      1

      Facilities_Balcony, Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Patio, Flat-screen TV, Terrace, Sauna, Minibar, Free WiFi  \
0                                                     0
1                                                     0
2                                                     0
3                                                     0
4                                                     1
...                                                 ...
1820                                                  0
1821                                                  0
1822                                                  0
1823                                                  0
1824                                                  0

      Facilities_City view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi  \
0                                                     1
1                                                     1
2                                                     0
3                                                     0
4                                                     0
...                                                 ...
1820                                                  1
1821                                                  1
1822                                                  1
1823                                                  0
1824                                                  0

      Facilities_Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi
0                                                     0
1                                                     0
2                                                     1
3                                                     1
4                                                     0
...                                                 ...
1820                                                  0
1821                                                  0
1822                                                  0
1823                                                  1
1824                                                  1

[1825 rows x 1510 columns]

In [24]:
df.describe()

,Id,RoomPrice,Date_01/01/2022,Date_01/02/2022,Date_01/03/2022,Date_01/04/2022,Date_01/05/2022,Date_01/06/2022,Date_01/07/2022,Date_01/08/2022,...,EventShowtime_Night,EventLocation_0,EventLocation_Domestic,EventLocation_In Hotel,EventLocation_Port City,HotelName_Cinnamon Lakeside,HotelLocation_Colombo,"Facilities_Balcony, Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Patio, Flat-screen TV, Terrace, Sauna, Minibar, Free WiFi","Facilities_City view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi","Facilities_Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi"
count,1825.000000,1825.000000,1825.000000,1825.000000,1825.000000,1825.000000,1825.000000,1825.000000,1825.000000,1825.000000,...,1825.000000,1825.000000,1825.000000,1825.000000,1825.000000,1825.0,1825.0,1825.000000,1825.000000,1825.000000
mean,913.000000,40128.164384,0.002740,0.002740,0.002740,0.002740,0.002740,0.002740,0.002740,0.002740,...,0.005479,0.961644,0.002740,0.032877,0.002740,1.0,1.0,0.139178,0.470685,0.390137
std,526.976438,13169.077457,0.052285,0.052285,0.052285,0.052285,0.052285,0.052285,0.052285,0.052285,...,0.073840,0.192107,0.052285,0.178363,0.052285,0.0,0.0,0.346227,0.499277,0.487915
min,1.000000,13500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,0.000000,0.000000
25%,457.000000,33600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,0.000000,0.000000
50%,913.000000,36200.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,0.000000,0.000000
75%,1369.000000,47100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,1.000000,1.000000
max,1825.000000,68000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.000000

In [28]:
df.head()

,Id,RoomPrice,Date_01/01/2022,Date_01/02/2022,Date_01/03/2022,Date_01/04/2022,Date_01/05/2022,Date_01/06/2022,Date_01/07/2022,Date_01/08/2022,...,EventShowtime_Night,EventLocation_0,EventLocation_Domestic,EventLocation_In Hotel,EventLocation_Port City,HotelName_Cinnamon Lakeside,HotelLocation_Colombo,"Facilities_Balcony, Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Patio, Flat-screen TV, Terrace, Sauna, Minibar, Free WiFi","Facilities_City view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi","Facilities_Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi"
0,1,15500,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
1,2,13700,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
2,3,21500,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
3,4,31200,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
4,5,46400,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,1,0,0

In [10]:
X = df.drop(["RoomPrice"], axis=1)
y = df["RoomPrice"]

In [42]:
df.columns

Index(['Id', 'RoomPrice', 'Date_01/01/2022', 'Date_01/02/2022',
       'Date_01/03/2022', 'Date_01/04/2022', 'Date_01/05/2022',
       'Date_01/06/2022', 'Date_01/07/2022', 'Date_01/08/2022',
       ...
       'EventShowtime_Night', 'EventLocation_0', 'EventLocation_Domestic ',
       'EventLocation_In Hotel', 'EventLocation_Port City',
       'HotelName_Cinnamon Lakeside', 'HotelLocation_Colombo',
       'Facilities_Balcony, Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Patio, Flat-screen TV, Terrace, Sauna, Minibar, Free WiFi',
       'Facilities_City view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi',
       'Facilities_Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi'],
      dtype='object', length=1510)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred = model.predict(X_test)

In [14]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.4917534435714195e+17

In [44]:
df.columns

Index(['Id', 'RoomPrice', 'Date_01/01/2022', 'Date_01/02/2022',
       'Date_01/03/2022', 'Date_01/04/2022', 'Date_01/05/2022',
       'Date_01/06/2022', 'Date_01/07/2022', 'Date_01/08/2022',
       ...
       'EventShowtime_Night', 'EventLocation_0', 'EventLocation_Domestic ',
       'EventLocation_In Hotel', 'EventLocation_Port City',
       'HotelName_Cinnamon Lakeside', 'HotelLocation_Colombo',
       'Facilities_Balcony, Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Patio, Flat-screen TV, Terrace, Sauna, Minibar, Free WiFi',
       'Facilities_City view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi',
       'Facilities_Lake view, Garden view, Pool view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi'],
      dtype='object', length=1510)

In [45]:
new_data = {
    "Date": "04/06/2022",
    "RoomType_Superior King Room": 1,
    "NumberOfBookings": 38,
    "NumberOfOccupents": 1,
    "DailyRevenue": 1330000,
    "RoomCategory_Single": 1,
    "EventName_Nidi Nathi Raa Live In Concert": 1,
    "EventType_Musical Show": 1,
    "Demography_All": 1,
    "EventShowtime_Night": 1,
    "EventLocation_In Hotel": 1,
    "HotelName_Cinnamon Lakeside": 1,
    "HotelLocation_Colombo": 1,
    "Facilities_City view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi": 1
}

df_new = pd.DataFrame([new_data])
df_new = pd.get_dummies(df_new, columns=["Date", "RoomType", "NumberOfBookings", "NumberOfOccupents", "DailyRevenue", "RoomCategory", "EventName", "EventType", "Demography", "EventShowtime", "EventLocation", "HotelName", "HotelLocation", "Facilities"])
df_new = df_new.drop(columns=["Date", "DailyRevenue"])

RoomPrice = model.predict(df_new)
print("Predicted room rate for the event:", RoomPrice[0])

KeyError: "['RoomType', 'RoomCategory', 'EventName', 'EventType', 'Demography', 'EventShowtime', 'EventLocation', 'HotelName', 'HotelLocation', 'Facilities'] not in index"

In [32]:
print(df_new)

   RoomType_Superior King Room  NumberOfBookings  NumberOfOccupents  \
0                            1                38                  1

   RoomCategory_Single  EventName_Nidi Nathi Raa Live In Concert  \
0                    1                                         1

   EventType_Musical Show  Demography_All  EventShowtime_Night  \
0                       1               1                    1

   EventLocation_In Hotel  HotelName_Cinnamon Lakeside  HotelLocation_Colombo  \
0                       1                            1                      1

   Facilities_City view, Pool with a view, Air conditioning, Flat-screen TV, Sauna, Minibar, Free WiFi
0                                                  1